@font-face {
    font-family: Texta-Black;
    src: url('../fonts/Texta-Black.otf');
}
@font-face {
	font-family: Helvetica;
    src: url('../fonts/Helvetica.otf');
}
html, body {
	height: 100%;
}
body {
	background-image: url('../images/light_gray_pattern_bkgd.jpg');
	font-family: 'Helvetica';
}
header {
	background-color: #333;
	margin: 0;
	padding: 0.5%;
	text-align: center;
	color: whitesmoke;
	background: linear-gradient(to bottom, #2A5BBC, #72CFEC);
	box-shadow: 0px 1px 10px 0px rgba(186,186,186,1);
	border-bottom: 3px solid MediumSpringGreen;
}
.masthead {
	font-size: 30px;
	font-family: 'Texta-Black';
}
.ssLogo {
	max-width: 100px;
	max-height: 100px;
}
.jumbotron {
	margin: 1%;
	margin-top: 3%;
	font-family: 'Helvetica';
	box-shadow: 0px 1px 10px 0px rgba(186,186,186,1);
/*	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAP0lEQVQYV42Q0QoAIAgDz///aMPAKKeQb26HTg0tB6zKVUhI4Bus5tMn2K4Djh7gBGXM7Uvo5riQ/BfUNwwTWfn+CgiQkAMbAAAAAElFTkSuQmCC') repeat;
*/	opacity: 0.5%;
}
#searchButton {
	margin: 1%;
	padding-left: 2%;
	padding-right: 2%;
	color: whitesmoke;
	font-style: italic;
	background: linear-gradient(to bottom, #2A5BBC, #72CFEC);
	border: 3px solid MediumSpringGreen;
}
#infoCols {
	align-content: center;
	margin: 0 auto;
	text-align: center;
}
#contentBody {
	background-color: #333;
	color: whitesmoke;
	text-align: center;
	width: 98%;
	height: auto;
	margin: 1%;
	border-radius: 4px;
	box-shadow: 0px 1px 10px 0px rgba(186,186,186,1);
}
#youTubeBox {
	background-color: #555;
	width: 45%;
	height: auto;
	margin: 1%;
	color: whitesmoke;
	text-align: center;
	border-radius: 4px;
	float: left;
	box-shadow: 0px 1px 10px 0px rgba(186,186,186,1);
}
#googleMapsBox {
	background-color: #555;
	color: whitesmoke;
	text-align: center;
	width: 45%;
	height: 300px;
	margin: 1%;
	border-radius: 4px;
	float: right;
	box-shadow: 0px 1px 10px 0px rgba(186,186,186,1);
}
.footer {
	background: linear-gradient(to bottom, #72CFEC, #2A5BBC);
	border-top: 3px solid MediumSpringGreen;
	padding: 1%;
	text-align: center;
}